<h1 align="center">All Alpha Blog Categories</h1>
<div align="center">
  <%= will_paginate %>
  <% @categories.each do |category| %>
  <ul class="listing">
    <div class="row">
      <div class="well col-md-4 col-md-offset-4">
        <li class="article-title">
          <%= link_to "#{category.name}", category_path(category) %>
        </li>
        <div class="center">
          <div class="article-actions">
            <%if logged_in? && current_user.admin?%>
              <li>
                <%= link_to "Delete Category", category_path(category),method: :delete,
                                                                              data: { confirm: "Are you sure you want to delete the category?"},
                                                                              class: "btn btn-xs btn-danger" %>
              </li>
            <%end%>
          </div>
        </div>
        <li><small><%= pluralize(category.articles.count, "article") %></small></li>
      </div>
    </div>
  </ul>
  <% end %>
  <%= will_paginate %>
</div>
